/* .tabla {
  background: #cf9c9c;
  
}

button {
  background-color: #3498db; /* azul normal */
  color: rgb(194, 55, 55);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* animación suave */
}

button:hover {
  background-color: #fd0065; /* azul más oscuro al pasar el ratón */
} */